$color_vue_green: #42b883;
$color_vue_blue: #35495e;
$color_nuxt_green: #3C8171;
$color_silver: #DAE1E9;
$color_dark_white: #f5f7fa;
$color_soft_grey: darken($color_silver, 30%);
$color_soft_black: darken($color_silver, 50%);
