img {
  max-width: 100%;
  display: inline-block;
}
h2 {
  padding: 30px 0;
  font-size: 32px;
  font-weight: 300;
  color: $color_nuxt_green;
}
a {
  font-weight: 600;
  color: $color_vue_green;
  &:hover {
    text-decoration: underline;
  }
}
p {
  font-size: 15px;
  line-height: 26px;
  padding-bottom: 5px;
}
strong, b {
  font-weight: 600;
  color: $color_soft_black;
}
blockquote {
  color: $color_soft_black;
}
ul {
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  li {
    padding: 4px 0;
    line-height: normal;
    &:before {
      content: " ";
      width: 0;
      height: 0;
      top: -11px;
      left: -14px;
      position: relative;
      border-bottom: 7px solid $color_nuxt_green;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }
}
