/* colors */
$color_silver: #DAE1E9;
$color_black: #152538;
$color_soft_grey: darken($color_silver, 30%);
$color_soft_black: darken($color_silver, 50%);

$color_nuxt_silver: #F5F7FA;
$color_nuxt_green: #3C8171;

$color_vue_silver: #7F8C90;
$color_vue_green: #42b883;
$color_vue_blue: #35495e;
$color_vue_black: #2c3e50;

$color_soft_blue: lighten($color_vue_blue, 20%);
